@import 'scss/_core.scss';
@import 'scss/_components.scss';
@import 'scss/_sections.scss';

body.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;

    .container {
        .dark-mode {
            background-color: $gray-900;
            color: $white;
        }

        .light-mode {
            background-color: $white;
            color: $gray-900;
        }
    }
}