<section id="feature" class="feature">
    <div class="container">
        <div class="title">
            <h1>What Do You Get with Our Tool?</h1>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        </div>
        <div class="feature-box">
            <div id="box-1" class="features">
                <img src="/img/chat.svg" alt="chatbox icon">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div id="box-2" class="features">
                <img src="/img/presentation.svg" alt="presentation icon">
                <h5>Tasks Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>

            <div id="box-3" class="features">
                <img src="/img/add-group.svg" alt="add group icon">
                <h5>Multiple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>

            <div id="box-4" class="features">
                <img src="/img/bell.svg" alt="bell icon">
                <h5>Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>

            <div id="box-5" class="features">
                <img src="/img/test.svg" alt="test icon">
                <h5>Sections & Subtasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>

            <div id="box-6" class="features">
                <img src="/img/shield.svg" alt="shield icon">
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>

        </div>
    </div>
</section>

@code {

}
