@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider

<header>
    <div class="container">
        <a id="logo" href="/"><img src="/img/logo.svg" alt="Logo"></a>
        <div class="btn-mobile" onclick="toggleMobileMenu()">
            <i class="fa fa-bars"></i>
        </div>
        <div id="menu">
            <nav>
                <NavLink class="menu-link" href="/">Overview</NavLink>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="menu-link" href="/courses">Courses</NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="menu-link" href="/#feature">Features</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
                <NavLink class="menu-link" href="/contact">Contact</NavLink>
            </nav>
        </div>
        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" @onchange="ToggleDarkMode" />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>
        <div class="account-buttons">
            <a class="btn-transparent" href="/chat"><i class="fa-regular fa-comment-dots"></i><span>Chat</span> </a>
            <AuthorizeView>
                <Authorized>
                    <a class="btn-theme" href="/account/details"><i class="fa-regular fa-user"></i><span>My Account</span></a>
                </Authorized>
                <NotAuthorized>
                    <a class="btn-gray" href="/signin"><i class="fa-regular fa-right-to-bracket"></i><span>Sign in</span></a>
                    <a class="btn-theme" href="/signup"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div id="mobile-menu" class="mobile-menu">
            <button class="close-menu" onclick="toggleMobileMenu()"><i class="fa-light fa-xmark"></i></button>
            <nav>
                <NavLink class="menu-link" href="/" onclick="toggleMobileMenu()">Overview</NavLink>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="menu-link" href="/courses" onclick="toggleMobileMenu()">Courses</NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="menu-link" href="/#feature" onclick="toggleMobileMenu()">Features</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
                <NavLink class="menu-link" href="/contact" onclick="toggleMobileMenu()">Contact</NavLink>
                <AuthorizeView>
                    <Authorized>
                        <a class="btn-theme" href="/account/details" onclick="toggleMobileMenu()"><i class="fa-regular fa-user"></i><span>My Account</span></a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="btn-gray" href="/signin" onclick="toggleMobileMenu()"><i class="fa-regular fa-right-to-bracket"></i><span>Sign in</span></a>
                        <a class="btn-theme" href="/signup" onclick="toggleMobileMenu()"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
                    </NotAuthorized>
                </AuthorizeView>
                <a class="btn-gray" href="/chat"><i class="fa-regular fa-comment-dots"></i><span>Chat</span> </a>
            </nav>
        </div>
    </div>
</header>

@code {
    private async Task ToggleDarkMode(ChangeEventArgs e)
    {
        bool isDark = (bool)e.Value;
        await JSRuntime.InvokeVoidAsync("setDarkMode", isDark);
    }
}
