@page "/"
@using BlazorWebApp.Components.Sections

<Showcase/>
<Features/>
<section id="mockup" class="mockup">
    <img src="/img/mockup.svg" alt="" />
</section>
<ManageWork/>


<PageTitle>Home</PageTitle>

