@page "/"
@using BlazorWebApp.Components.Sections
@inject IJSRuntime JSRuntime

<Showcase/>
<Features/>
<section id="mockup" class="mockup">
    <img src="/img/mockup.svg" alt="" />
</section>
<ManageWork/>
<Subscribe/>


<PageTitle>Home</PageTitle>

@code{

}

