section {
    &.courses {
        .container {
            .header-courses {
                margin-top: 30px;
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-areas: "h1 h1 category search";
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;

                h1 {
                    grid-area: h1;

                    @media (max-width: 992px ) {
                        display: none;
                    }
                }

                .categorylist {
                    grid-area: category;
                    border: 1px solid #DAD9D3;
                    padding: 8px;
                    border-radius: 15px;
                    margin-right: 20px;

                    @media (max-width: 768px) {
                        display: none;
                    }

                    form {

                        select {
                            color: #191919;
                            text-decoration: none;
                            outline: none;
                            border: transparent;
                            margin-right: 50px;


                        }
                    }
                }

                .search-form {
                    grid-area: search;
                    border: 1px solid #DAD9D3;
                    padding: 8px;
                    border-radius: 15px;

                    form {

                        input {
                            color: #191919;
                            text-decoration: none;
                            outline: none;
                            border: transparent;
                            margin-right: 50px;
                        }
                    }
                }
            }

            .course-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;

                .course {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    overflow: hidden;
                    height: 500px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                    .best-seller {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        background-color: #22C55E;
                        color: white;
                        padding: 5px 10px;
                        border-radius: 5px;
                        z-index: 1;
                    }

                    img {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        width: 100%;
                        height: auto;
                    }

                    .course-title {
                        margin: 0;
                        height: 30px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        padding: 10px;
                    }

                    .content {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding: 10px;



                        .course-author {
                            margin-top: 10px;
                        }

                        .course-prices {
                            display: flex;
                            padding: 5px;
                            font-weight: bold;
                            font-size: 18px;

                            .course-price {
                                color: #6366F1;
                            }

                            .course-discount {
                                color: $danger;
                            }

                            .course-price-reduced {
                                margin-left: 10px;
                                text-decoration: line-through;
                                color: $gray-600;
                            }
                        }

                        .course-info {
                            padding: 5px;
                            display: flex;
                            justify-content: space-between;
                            border-top: 1px #E2E5F1 solid;


                            .course-hour {
                                margin: 0;
                                margin-top: 10px;

                                i {
                                    margin-right: 5px;
                                }
                            }

                            .course-likes {
                                margin-top: 10px;

                                span {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
