.light-dark-mode {
    .container {
        display: none;
        position: relative;

        @include xl {
            display: flex;
        }

        .slider-button {
            position: absolute;
            top: 50%;
            left: 48%;
        }

        .dark-mode {
            background-color: $gray-900;
            width: 50%;
            border-right: 2px solid $theme;
            display: flex;
            flex-direction: column;
            align-items: end;

            h1 {
                color: $white;
                text-align: end;
                margin-right: 2%;
                margin-top: 15%;
            }

            img {
                max-width: 538px;
                height: auto;
                margin: 30px 0 80px 0;
            }
        }

        .light-mode {
            background-color: $white;
            width: 50%;
            border-left: 2px solid $theme;

            h1 {
                text-align: start;
                margin-left: 2%;
                margin-top: 15%;
            }

            img {
                max-width: 538px;
                height: auto;
                margin: 30px 0 80px 0;
            }
        }
    }
}
