.container {
    aside {
        border-right: 1px solid $gray-300;
        padding-right: 20px;

        .profile-info {
            margin: 29px;
            text-align: center;

            .profile-image {
                position: relative;
                display: inline-block;


                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    object-fit: cover;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }

                input[type="file"] {
                    position: absolute;
                    bottom: 100px;
                    right: 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    opacity: 0;
                    z-index: 2;
                }

                i {
                    position: absolute;
                    bottom: 100px;
                    right: 10px;
                    font-size: 18px;
                    color: black;
                    background-color: white;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    z-index: 1;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }
            }

            h3 {
                margin-top: 15px;
                margin-bottom: 0;

            }

            p {
                @include text-m;
            }
        }

        nav {
            margin-top: 50px;
            text-align: left;

            a {
                margin: 10px 0;
                text-align: left;
                justify-content: flex-start;
            }

            .btn-theme-s {
                text-align: left;
                justify-content: flex-start;
            }
        }
    }
}
