@using Microsoft.AspNetCore.Identity
@using BlazorWebApp.Data

@rendermode InteractiveServer 

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<aside>
    <div class="profile-info">
        <div>
            <ProfilePicture/>
        </div>
        <h3>@User?.FirstName @User?.LastName</h3>
        <p>@User?.Email</p>
    </div>
    <nav>
        <NavLink href="/account/details" class="btn-transparent" ActiveClass="btn-theme-s" >Account Details</NavLink>
        <NavLink href="/account/security" class="btn-transparent" ActiveClass="btn-theme-s">Security</NavLink>
        <NavLink href="/account/saved-courses" class="btn-transparent" ActiveClass="btn-theme-s">Saved Courses</NavLink>
        <button class="btn-transparent" @onclick="SignOut">Sign Out</button>
    </nav>
</aside>

@code {
    [Parameter]
    public ApplicationUser? User { get; set; }

    private async Task SignOut()
    {
        await SignInManager.SignOutAsync();
        // Redirect to home page or login page after sign out
        NavigationManager.NavigateTo("/"); // Change this to the appropriate redirect URL
    }
  
}
