@using Microsoft.AspNetCore.Identity
@using BlazorWebApp.Data

@rendermode InteractiveServer 

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject ILogger<ManageNavMenu> Logger

<aside>
    <div class="profile-info">
        <ProfilePicture User="User"/>
    </div>
    <nav>
        <NavLink href="/account/details" class="btn-transparent" ActiveClass="btn-theme-s">Account Details</NavLink>
        <NavLink href="/account/security" class="btn-transparent" ActiveClass="btn-theme-s">Security</NavLink>
        <NavLink href="/account/notifications" class="btn-transparent" ActiveClass="btn-theme-s">Notifications</NavLink>
        <NavLink href="/notfound" class="btn-transparent" ActiveClass="btn-theme-s">Saved Courses</NavLink>
        <NavLink href="/chat" class="btn-transparent" ActiveClass="btn-theme-s">Chat</NavLink>
        <button class="btn-transparent" @onclick="NavigateToSignOut">Sign Out</button>
    </nav>
</aside>

@code {
    [Parameter]
    public ApplicationUser? User { get; set; }

    private void NavigateToSignOut()
    {
        NavigationManager.NavigateTo("/signout");
    }
}
  
